{% extends "layout.html" %}
{% block content %}
{% if session.get('user') %}
<div class="border-top border-bottom pb-3 pt-3">
  <div class="font-weight-light">
    Hey
    <a href="{{ url_for('logout') }}" style="text-decoration: none;" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Logout">
      <i>{{ session.get('user') }}</i>
    </a> &#9996;
  </div>
</div>
{% endif %}
{% for post in posts[::-1] %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    {% set url = url_for('download', filename=post.json) %}
    <h2 data-bs-toggle="tooltip" data-bs-placement="Right"><a class="article-title" href="{{ url }}">{{
        post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
    {% set log2del = url_for('deleteLog', log=post.title) %}
    <a href="{{ log2del }}" style="text-decoration: none;" data-bs-toggle="tooltip" data-bs-placement="Right"
      title="Delete">
      <button type="button" class="btn btn-light">Delete</button>
    </a>
  </div>
</article>
{% endfor %}
{% endblock content %}