{% extends "layout.html" %}
{% block content %}
{% if session.get('user') %}
<div class="border-top border-bottom pb-3 pt-3">
  <div class="font-weight-light">
    Hey <i>{{ session.get('user') }}</i> &#9996;
  </div>
</div>
{% endif %}
{% for post in posts[::-1] %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %}
{% endblock content %}