<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/dt/datatables.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">





  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
  <title>Policy Generator | {{ title }}</title>
  {% else %}
  <title>Policy Generator</title>
  {% endif %}
</head>

<body>


  <div class="preloader">
    <img src="static/spinner.svg" alt="spinner">
  </div>



  <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width: 48px">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
      </div>
    </div>
  </div>


  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Policy Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="dark-teal-text"><i class="fas fa-bars fa-1x"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('build') }}">Build</a>
            <a class="nav-item nav-link" href="{{ url_for('temp_view') }}">Template</a>
            <a class="nav-item nav-link" href="{{ url_for('delete') }}">Delete</a>
            {% endif %}
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if not current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if session.get('user') %}
        <div class="border-top border-bottom mb-3 pb-3 pt-3">
          <div class="font-weight-light">
            Hey
            <a href="{{ url_for('logout') }}" style="text-decoration: none;" data-bs-toggle="tooltip"
              data-bs-placement=" " title="Logout">
              <i>{{ session.get('user').name }}</i>
            </a> &#9996;
            <a href="/flaskcode"><span class="badge badge-pill badge-dark">Edit Json</span></a>
          </div>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>

      <!-- <div class="col-md-4">
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
          </p>
        </div>
      </div> -->
    </div>
  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="static/dt/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>



  <script>
    function modal() {
      $('.modal').modal('show');
      setTimeout(function () {
        console.log('hejsan');
        $('.modal').modal('hide');
      }, 5000);
    }
  </script>


  <script type="text/javascript">
    const preloader = document.querySelector('.preloader');
    const fadeEffect = setInterval(() => {
      // if we don't set opacity 1 in CSS, then
      // it will be equaled to "" -- that's why
      // we check it, and if so, set opacity to 1
      if (!preloader.style.opacity) {
        preloader.style.opacity = 1;
      }
      if (preloader.style.opacity > 0) {
        preloader.style.opacity -= 0.1;
      } else {
        clearInterval(fadeEffect);
      }
    }, 1);

    window.addEventListener('load', fadeEffect);
  </script>



  <script>
    $(document).ready(function () {
      $('table.display').DataTable();
    });


    function checkCheckboxes(id) {

      $(".active").find(':checkbox').each(function () {

        jQuery(this).trigger('click');

      });

    }

  </script>



  <script>
    function selects() {
      let elementGet = document.getElementsByClassName('selectt');
      console.log(elementGet)
      var ele = document.getElementsByClassName('form-check-input');
      for (var i = 0; i < ele.length; i++) {
        if (ele[i].type == 'checkbox') {
          ele[i].checked = true
        }
      }
      //console.log(formCheck)
      for (var i = 0; i < elementGet.length; i++) {
        elementGet[i].style.display = 'block';

      }
    }
    function deSelect() {
      let elementGet = document.getElementsByClassName('selectt');
      console.log(elementGet)
      var ele = document.getElementsByClassName('form-check-input');
      for (var i = 0; i < ele.length; i++) {
        if (ele[i].type == 'checkbox') {
          ele[i].checked = false
        }
      }
      for (var i = 0; i < elementGet.length; i++) {
        elementGet[i].style.display = 'none';
      }
    }
  </script>




  <script type="text/javascript">
    $(document).ready(function () {
      $('input[type="checkbox"]').click(function () {
        var inputValue = $(this).attr("id");
        console.log(inputValue);
        $("." + inputValue).toggle();
      });
    });
  </script>









  <script type="text/javascript">
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>


  <script type="text/javascript">
    function shiftBuild(event) {
      if (event.keyCode == 13) {
        let confirmAction = confirm("Are you sure to execute this action?");
        if (confirmAction) {
          console.log("setttt");
        }
        else {
          console.log("vendangi vendaa");
        }
      }
      else {
        console.log("someting")
      }
    }
  </script>

</body>

</html>